* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.App {
  height: 100vh;
}

.loading-container {
  height: 100vh;
  width: 100%;
  background-image: url('../../assets/img/loading-background.jpg');
  background-size: cover;
}

.loading-container__text {
  font-size: 24px;
  color: rgb(212, 212, 212);
  padding: 20px
}

@import 'c-character-card';
@import 'c-characters-container';
@import 'c-episodes-container';
@import 'c-episode-info';